<br/>
<div class="card-payment">

    <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
    </svg> &nbsp;<b><u>Card Details</u></b></h5><br/><br/>

    <div class="card-body">
<div>
<label for="Name" class="text-primary-emphasis"><b>Name</b></label><br/>
<input type="text" name="name" id="name" placeholder="Name On Card" required autofocus><br/>
</div><br/>

<div>
<label for="cardnum" class="text-primary-emphasis"><b>Card Number</b></label><br>
<input type="number" name="cardnum" id="cardnum" placeholder="1234 4567 7890 0321">
</div><br/>

<div class="row">
<div class="col-5 ">
<label for="exp" class="text-primary-emphasis"><b>Expiry</b></label><br>
<input type="date" name="exp" id="exp"><br>
</div>

<div class="col-5">
<label for="cvv" class="text-primary-emphasis"><b>CVV</b></label><br>
<input type="number" min="1" name="cvv" id="cvv" style="width: 55px;">
</div>
</div>
</div>
<br/><br/>

<div style="text-align: center;">
    <button class="btn btn-success">Confirm Payment</button>
</div>

