<div class="container-fluid">
  <br />

  <h2 style="color: red; ">Movies</h2> <br />

  <div class="row">
    Filter:
    <br />

    <form (ngSubmit)="applyFilter()">

      <div>
        <label for="language">Language:</label>&nbsp;
        <select name="language" [(ngModel)]="language">
          <option>Tamil</option>
          <option>English</option>
          <option>Hindi</option>
          <option>Telugu</option>
          <option>Kannada</option>
        </select>
      </div><br />

      <div>
        <label for="movieType">Description:</label> &nbsp;
        <select name="movieType" [(ngModel)]="movieType">
          <option>Action</option>
          <option>Thriller</option>
          <option>Family</option>
          <option>Sci-Fi</option>
          <option>Sports</option>
        </select>
      </div><br />

      <div>
        <label for="price">Price Range:</label><br />
        <input type="number" min="1" name="minPrice" id="minPrice" [(ngModel)]="minPrice"
          placeholder="Minimum Price">&nbsp;
        <input type="number" min="1" name="maxPrice" id="maxPrice" [(ngModel)]="maxPrice" placeholder="Maximum Price">

      </div><br />

      <button type="submit" class="btn btn-info">Submit</button>&nbsp;
      <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button><br /><br />

      <div class="col-9">
        <div class="row">
          @for(movie of movies; track movie){

          <div class="card col-3 movie-card">
            <img src="{{movie.imgUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text">{{movie.description}}

                - {{movie.language}}
                - {{movie.price | currency:"INR"}}
              </p>

              <a routerLink="{{movie.id}}" class="btn btn-primary">View</a>
            </div>
          </div>
          }
        </div>
      </div>