<br/>
<h2 style="color: red; ">Movies</h2> <br/>

<div class="row">
    @for(movie of movies; track movie){

        <div class="card col-3 movie-card">
          <img src="{{movie.imgUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.description}} 
              
             - {{movie.language}}
             - {{movie.price | currency:"INR"}}
            </p>
       
            <a routerLink="{{movie.title}}" class="btn btn-primary">View</a>
    </div>
</div> 
    }