<div class="container-fluid">
<h3>Login</h3>
<form (ngSubmit)="onSubmit()">
<div>
    <label for="email">Email ID</label>&nbsp;&nbsp;
    <input type="email" name="email" id="email" placeholder="Enter Your Mail ID" [(ngModel)]="email" required autofocus>
</div><br/>

<div>
    <label for="password">Password</label>&nbsp;
    <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" required>
</div><br/>

<div>
<button type="submit" class="btn btn-success ">Submit</button>
</div>
</form>


</div>
