
<h1>Movie-{{movie.title}}</h1>
<div class="row">
    @if(movie){
        <div class="card col-3 movie-card" style="margin-left:6%;">
          <img src="{{movie.imgUrl}}" class="card-img-top"  height="330px" width="150px" alt="...">
          <div class="card-body">
            <h5 class="card-title" >{{movie.title}}</h5>
            <p class="card-text">
        <span class="badge text-bg-info">{{movie.description}}</span>
        </p>
        <p>
      
        <span class="badge text-bg-primary">{{movie.language}}</span> &nbsp;
      
        <span class="badge text-bg-success">₹ {{movie.price}}</span>&nbsp;</p> 
   
   <a class="btn btn-primary" (click)="addToCart(movie)">Add to cart</a>
    </div>
</div>

    }

    