<div class="container-fluid">
<h3>Register Here!!!</h3>
<form (ngSubmit)="onSubmit()">

<div>
<label for="name">Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="name" id="name" placeholder="Enter Your Name" required autofocus>
</div><br/>

<div>
<label for="email">Email ID</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="email" name="email" id="email" placeholder="Enter Your Email">
</div><br/>

<div>
<label for="mobile">Mobile Number</label>
<input type="number" name="mobile" id="mobile" placeholder="Mobile Number">
</div><br/>

<div>
<label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="password" name="password" id="password" placeholder="Password">
</div><br/>
    
<div>
<button type="submit" class="btn btn-success">Submit</button>
</div>
</form>


</div>